@import "reset.css";
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
}
/* Top section start here */

/* Container starts here */

.container {
  max-width: 1150px;
  margin: 0 auto;
}

/* Top Styling starts here */

#top {
}

#top .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 80px 0;
  align-items: center;
}

#top .info {
  padding: 15px;
  position: relative;
}

#top .info .blue-square {
  border: 20px solid #dbf1ff;
  width: 400px;
  height: 400px;
  position: absolute;
  z-index: 0;
  top: -70%;
  left: -50%;
}

#top .info h1 {
  position: relative;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #16171b;
  margin-bottom: 2rem;
  z-index: 1;
}

#top .info p {
  position: relative;
  color: #919191;
  text-transform: capitalize;
  margin-bottom: 4rem;
  z-index: 1;
}

#top .info a {
  position: relative;
  color: #16171b;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 2px solid #000;
  padding-bottom: 5px;
  text-transform: uppercase;
  z-index: 1;
  font-size: 0.9rem;
  letter-spacing: 2px;
}

#top .img {
}

#top .img .background-img {
  background: url("../img/model.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 500px;
  height: 800px;
  margin: 0 auto;
}

/* Services Styling */

#services {
  padding: 80px 15px;
}

#services .title {
  position: relative;
  widows: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#services .title .circle {
  background: #eef9ff;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  top: 25px;
}

#services .title h2 {
  position: relative;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 900;
  color: #16171b;
  z-index: 1;
  letter-spacing: 2px;
  font-family: "Merriweather", serif;
}

#services .services-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

#services .services-container .box {
  background: rgba (255, 255, 255 0);
  transition: all 0.4s ease-in-out;
  padding: 40px;
  cursor: pointer;
}

#services .services-container .box:hover {
  background: rgba (255, 255, 255 1);
  -webkit-box-shadow: 0px 40px 74px 24px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 40px 74px 24px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 40px 74px 24px rgba(0, 0, 0, 0.08);
}

#services .services-container .box .fas {
  font-size: 2rem;
  margin-bottom: 2rem;
}

#services .services-container .box h5 {
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

#services .services-container .box p {
  color: #b3b3b3;
  line-height: 1.5;
  font-size: 0.8rem;
}

#services .services-container .box.blue {
  border-bottom: 2px solid #52b8ff;
}

#services .services-container .box.red {
  border-bottom: 2px solid #ff5253;
}
#services .services-container .box.yellow {
  border-bottom: 2px solid #ffc853;
}

/* Portfolio Section */

#portfolio-section {
  padding: 80px 15px;
}

#portfolio-section .title {
  position: relative;
  /* widows: 200px;
  height: 200px; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#portfolio-section .title .square {
  background: #ffeded;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 25px;
}

#portfolio-section .title h2 {
  position: relative;
  top: 82px;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 900;
  color: #16171b;
  z-index: 1;
  letter-spacing: 2px;
  font-family: "Merriweather", serif;
}

#portfolio-section .portfolio-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 150px 150px 150px 150px 150px;
  grid-gap: 10px;
  margin-top: 200px;
}

#portfolio-section .portfolio-container .box {
  background: #000;
  cursor: pointer;
  display: block;
  width: 100%;
  transition: all 0.4s ease-in-out;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
}

#portfolio-section .portfolio-container .box:hover {
  /* background: rgba (255, 255, 255 1); */
  background: red;
  -webkit-box-shadow: 0px 40px 74px 24px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 40px 74px 24px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 40px 74px 24px rgba(0, 0, 0, 0.08);
}
/* Portfolio Project Styling */

#portfolio-section .portfolio-container .box .image .hover-bg {
  background: rgba(255, 255, 255, 0);
  transition: all 0.4s ease-in-out;
  /* padding: 10px 20px; */
  height: 100%;
  width: 100%;
}

#portfolio-section .portfolio-container .box:hover .image .hover-bg {
  background: rgba(255, 53, 53, 0.8);
  /* padding: 10px 20px; */
}

#portfolio-section .portfolio-container .box .image .hover-bg .title {
  height: 100%;
  width: 100%;
}

#portfolio-section .portfolio-container .box .image .hover-bg .title .text {
  background: #000000;
  border-radius: 5px;
  padding: 10px 20px;
  transform: translate3d(0, 400px, 0);
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

#portfolio-section
  .portfolio-container
  .box:hover
  .image
  .hover-bg
  .title
  .text {
  background: #000000;
  border-radius: 5px;
  padding: 10px 20px;
  transform: translate3d(0, 0, 0);
  opacity: 1;
  /* transition: transform 0.3s ease-in-out; */
}

/* Box Location 1*/

#portfolio-section .portfolio-container .box.image1 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

#portfolio-section .portfolio-container .box.image1 .image {
  /* grid-column: 1 / 3;
  grid-row: 1 / 2; */
  background: url("https://cdn.dribbble.com/users/674925/screenshots/8975146/media/1d006555088b5f1d5d02f6e07d35aa2d.png");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* Box Location 2 */
#portfolio-section .portfolio-container .box.image2 {
  grid-column: 3 /;
  grid-row: 1 / 4;
}

#portfolio-section .portfolio-container .box.image2 .image {
  background: url("https://cdn.dribbble.com/users/89889/screenshots/8999952/media/9c497e9fd015310f42279a238eaa1aaf.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* Box Location 3 */

#portfolio-section .portfolio-container .box.image3 {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

#portfolio-section .portfolio-container .box.image3 .image {
  background: url("https://cdn.dribbble.com/users/1656935/screenshots/9004914/media/9f7871cf13ccd7d0181b112b3daef1b4.png");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* Box Location 4 */

#portfolio-section .portfolio-container .box.image4 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

#portfolio-section .portfolio-container .box.image4 .image {
  background: url("https://cdn.dribbble.com/users/1211065/screenshots/9006378/media/9829400f058f864c7547c810bd488b15.png");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* Box Location 5 */

#portfolio-section .portfolio-container .box.image5 {
  grid-column: 1 / 2;
  grid-row: 4 / 6;
}

#portfolio-section .portfolio-container .box.image5 .image {
  background: url("https://cdn.dribbble.com/users/1998993/screenshots/8970542/media/e6920d4fc9e1f0e68ecc2fedb4d8bfb7.png");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* Box Location 6 */

#portfolio-section .portfolio-container .box.image6 {
  grid-column: 2 / 3;
  grid-row: 3 / 6;
}

#portfolio-section .portfolio-container .box.image6 .image {
  background: url("https://cdn.dribbble.com/users/416805/screenshots/8813620/media/d991651995e1f43664dd0437f849de17.png");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#portfolio-section .portfolio-container .box.image7 {
  grid-column: 3 / 4;
  grid-row: 4 / 6;
}

#portfolio-section .portfolio-container .box.image7 .image {
  background: url("https://cdn.dribbble.com/users/729829/screenshots/9007786/media/d1a5e73fbdd36789b5b0165dcd30467a.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* Experience Section */

#experience-section {
  padding: 80px 15px;
}

#experience-section .large-title {
  color: #c6e4ff;
  font-weight: 900;
  font-size: 4.5rem;
  text-align: center;
  position: relative;
  left: -100px;
}

#experience-section .experience-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

#experience-section .experience-container .large-icons .square {
  border: 30px solid #52b8ff;
  padding: 5px;
  display: inline-block;
  position: relative;
  top: -100px;
}

#experience-section .experience-container .large-icons .square .blue-box {
  width: 150px;
  height: 150px;
  padding: 5px;
  background: #52b8ff;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  letter-spacing: 3px;
}

#experience-section .experience-container .large-icons .circle {
  border: 30px solid #ffc853;
  padding: 5px;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  top: 95px;
  left: 50px;
}

#experience-section .experience-container .large-icons .circle .white-box {
  color: #ffc853;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#experience-section .experience-container .large-icons .triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 150px 230px 150px;
  position: relative;
  border-color: transparent transparent #ff5253 transparent;
}

#experience-section .experience-container .large-icons .triangle-box {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 93.75px 151.75px 93.75px;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  left: -94px;
  top: 49px;
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ff5253;
}

#experience-section .experience-container .large-icons .triangle-box .text {
  position: relative;
  top: 98px;
  left: -29px;
}

/* Experience Section - Info Portion */

#experience-section .experience-container .info {
  padding: 80px 0 0;
}

#experience-section .experience-container .info .info-box {
  padding: 15px;
}

#experience-section .experience-container .info .info-box h4 {
  padding: 15px 0;
  color: #16171c;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 5px;
}

#experience-section .experience-container .info .info-box .date {
  color: #52b7ff;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 0.9rem;
  letter-spacing: 3px;
  padding: 15px 0;
  display: inline-block;
}

#experience-section .experience-container .info .info-box p {
  color: #b2b2b4;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 15px 0;
  display: inline-block;
  line-height: 1.5;
}

/* Blog section Styling */

#blog-section {
  padding: 100px 15px;
  background: #f9fafc;
}

#blog-section .title h2 {
  font-size: 4rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 80px;
  text-transform: uppercase;
}

#blog-section .blog-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 588px 588px;
  grid-gap: 15px;
  overflow: hidden;
}

#blog-section .blog-container .post {
  position: relative;
  transition: all 0.4s ease-in-out;
  height: 100%;
  overflow: hidden;
}

#blog-section .blog-container .post .post-img {
  height: 100%;
  width: 100%;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-color: #dbdee5 !important;
}

#blog-section .blog-container .post .details {
  background: #fff;
  padding: 35px;
  position: absolute;
  top: 100%;
  width: 100%;
  transform: translate3d(0, -200px, 0);
  transition: all 0.4s ease-in;
}

#blog-section .blog-container .post .details h4 {
  font-size: 1.1rem;
  color: #13171a;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 1.8rem;
}

#blog-section .blog-container .post .details p {
  font-size: 1rem;
  color: #919191;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 3rem;
  line-height: 1.5;
}

#blog-section .blog-container .post .more {
  position: absolute;
  z-index: 3;
  width: 100%;
  bottom: 0;
  background: #fff;
  padding: 35px;
}

#blog-section .blog-container .post .more .button {
  font-size: 1.3rem;
  color: #13171a;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1.5;
  display: inline-block;
  border-bottom: 2px solid #ff5253;
  text-transform: uppercase;
  padding-bottom: 20px;
  transition: all 0.4s ease-in 0.2s;
  opacity: 0;
  transform: translate3d(0, 40px, 0);
}
/* Hover effect on post */
#blog-section .blog-container .post:hover .details {
  transform: translate3d(0, -588px, 0);
  cursor: pointer;
}

#blog-section .blog-container .post:hover .more .button {
  color: #ff5253;
  transform: translate3d(0, -40px, 0);
  opacity: 1;
}


/* ==================================================== 
 Testimonials Section Start*/

